.App {
  min-height: 100vh;;
  text-align: center;
  background-color: #000000;
  background-color: #f0eaad;
background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
background-color: #ffebe8;
background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
background-color: #fff4e8;
background-image: url("https://www.transparenttextures.com/patterns/circles.png");
background-color: #56264a;
background-image: url("https://www.transparenttextures.com/patterns/food.png");
background-image: url("./pics/catText22.png");
background-repeat: no-repeat;
background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  min-height: 100vh;
  margin: 0 !important;
  
}

h1 {
  font-family: cursive;
  font-style: italic;
  font-size: 2rem;
  margin:0;
  padding: 1rem;

  margin-bottom: -1rem;
  z-index: 5;
}

#mainStock{
  box-shadow: 5px 5px 3px 3px grey;
}

@media only screen and (max-width: 1250px) {
  #mainStock{
    display: none;
  }
}


.unableCard{
  
  cursor:not-allowed;
 
}

img.unableCard:hover{
  opacity: 0.3;
}

img.unableCard:hover ~ div.unableCard{
  box-shadow: 0 0 3px 3px red;
  opacity: 0.5;
}

#straggler-table > .takenOut {

  /* background-color: gray; */
   opacity: 0.5; 
  cursor: not-allowed;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);

}